

<div class="row">
	<div class="span12">
		<div class="page-header">
			<h1><%= @user.name %> <span class="pull-right"><small>Profile</small></span></h1>
		</div>
	</div>
</div>


<div class="row">
	<div class="span12">
		<div class="box">
			<h2>Communities</h2>
			<% @communities.each do |community| %>
				<%= link_to community.name, community %>
				<br/>
			<% end %>
		</div>
	</div>
</div>

<div class="row">
	<div class="span12">
		<div class="box">
			<h2>Ressources</h2>
			<% @ressources.each do |ressource| %>
				<%= link_to ressource.title, ressource.link %> &nbsp; <small>(<%= ressource.community.name %>)</small>
				<br/>
			<% end %>
		</div>
	</div>
</div>